<VirtualHost *:80>
    ServerName localhost
    DocumentRoot /var/www/server/public
    ErrorLog /var/www/server/logs/apache-error.log
    CustomLog /var/www/server/logs/apache.log combined

    SetEnv TZ Asia/Yerevan

    <Directory /var/www/server/public>
       Options Indexes FollowSymLinks MultiViews
       AllowOverride All
       Order allow,deny
       allow from all
    </Directory>

</VirtualHost>
